layout {

    focus-ring {
        active-color   "#679ce4"
        inactive-color "#0d1c30"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#679ce4"
        inactive-color "#0d1c30"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#0d1c3070"
    }

    tab-indicator {
        active-color   "#679ce4"
        inactive-color "#0c428d"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#679ce480"
    }
}

recent-windows {
    highlight {
        active-color "#679ce4"
        urgent-color "#fd4663"
    }
}
