* {
    font-family: Iosevka Nerd Font;
    font-size: 14px;
}

window#waybar {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    color: #000000;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces button {
    padding: 0 5px;
    color: #000000;
}

#workspaces button:hover {
    color: #04a5e4;
    background-color: #ffffff;
}

#workspaces button.focused {
    background-color: #04a5e4;
    color: #ffffff;
}

#workspaces button.focused:hover {
    color: #04a5e4;
    background-color: #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

/* Clock */
#clock {
    padding-right: 10px;
}
